<div class="container-fluid">
  <div class="main_title"><h1>VOLVO</h1></div>
  <div class="sub_title"><h2>Volvo Group</h2></div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li (click)="toggle('/dashboard')" [ngClass]="{'active': selectedItem == '/dashboard'}"><a routerLink="/dashboard">Users <span class="sr-only">(current)</span></a></li>
          <li (click)="toggle('/adduser')" [ngClass]="{'active': selectedItem == '/adduser'}"><a routerLink="/adduser">Add</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>